- name: Deploy via SFTP (SSH key)
  uses: wlixcc/SFTP-Deploy-Action@v1.2.6
  with:
    username: ${{ secrets.SFTP_USER }}
    server: ${{ secrets.SFTP_HOST }}
    port: ${{ secrets.SFTP_PORT }}
    ssh_private_key: ${{ secrets.SFTP_SSH_KEY }}
    ssh_private_key_passphrase: ${{ secrets.SFTP_SSH_KEY_PASSPHRASE }}
    local_path: .
    remote_path: /public_html/
    sftp_only: true
    delete_remote_files: false
